@model TravelAgency_MVC.Models.FlightReservation

@{
    ViewData["Title"] = "EditFlightUser";
}

<h1>Edit</h1>

<h4>FlightReservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditFlightUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="myUserId" class="control-label"></label>
                <input asp-for="myUserId" class="form-control" asp-items="ViewBag.myUserId" readonly></input>
                <span asp-validation-for="myUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="myFlightId" class="control-label"></label>
                <input asp-for="myFlightId" class="form-control" asp-items="ViewBag.myFlightId" readonly></input>
                <span asp-validation-for="myFlightId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="amountPaid" class="control-label"></label>
                <input asp-for="amountPaid" class="form-control" readonly />
                <span asp-validation-for="amountPaid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sites" class="control-label"></label>
                <input asp-for="sites" class="form-control" />
                <span asp-validation-for="sites" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Users" asp-action="Profile">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
