@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html>
<head>
    <title>Inicio de sesión</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/TravelAgency_MVC.styles.css" asp-append-version="true" />
</head>
<body class="text-center">

    <div class="container mt-5">
        <form class="form-signin" method="post" action="@Url.Action("Login", "Users")">
            <h2 class="mb-3 font-weight-normal">Inicio de sesión</h2>

            <label for="txtEmail" class="sr-only">Email:</label>
            <input type="email" id="txtEmail" name="txtEmail" class="form-control mb-2" placeholder="Email" required autofocus>

            <label for="txtPassword" class="sr-only">Contraseña:</label>
            <input type="password" id="txtPassword" name="txtPassword" class="form-control mb-3" placeholder="Contraseña" required>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>

            <p class="mt-3">¿No tienes una cuenta? <a href="@Url.Action("Registro", "Users")">Regístrate</a></p>

            @if (!string.IsNullOrEmpty(ViewBag.Error))
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.Error
                </div>
            }
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>